body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.icon_confronta {
  position: absolute;
  z-index: 10;
  border-color: #b3b3b3;
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  left: 10px;
  top: 0;
  background: url(https://img.tim.it/img/img_lista_prodotti/icon_confronta.png);
  background-position: center;
  height: 30px;
  width: 30px;
}
.desktop .listingImgContainer {
  height: 246px;
}
h5, .h5 {
  font-size: 15px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #004990;
}
.info-prezzi {
  padding: 0px 15px;
  height: 75px;
  float: left;
  width: 100%;
  margin-bottom: 18px;
}
.cont-carousel {
  border: 1px solid #b3b3b3;
  border-radius: 1px;
  margin-bottom: 50px;
  height: 446px;
  text-align: center;
  max-width: 235px;
}
.linkButton{
  color: #004990;
  background-color: #fff;
  border-color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 140px;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid gray;
  border-radius: 4px;
  -webkit-appearance: none!important;
  -webkit-border-radius: 4px!important;
}
.linkButton:hover{
  border-color: #0078c1;
  color: #004990;
  text-decoration: none;
}
.box-filtro {
  margin-bottom: 30px;
  max-width: 235px;
}
 .cont-interno {
  max-width: 235px;
  background-color: #f0f0f0;
  border: 1px solid #b3b3b3;
}
.ico_carrello{
	background: url(https://img.tim.it/img/ico_carrello.png) 0 7px no-repeat rgba(0,0,0,0);
    padding-left: 30px;
    margin-right: 25px;
}
.nobordo{
  border:0
}